@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('testimonials.css');
@import url('footer.css');

:root {
    --color-primary-1: #000000;
    --color-primary-2: #35356e;
    --color-primary-3: #4152b4;
    --color-primary-4: #26337e;
    --color-primary-5: #1b2458;
    --color-primary-6: #f7f7f7;

    --color-neutral-0: #fff;
    --color-neutral-1: #1e247e;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary-1);
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-4);
    border-radius: 12px;
    padding: 5px 7px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default a {
    color: #fff; /* Mantém a cor do texto do link */
    text-decoration: none; /* Remove o sublinhado padrão do link */
}

.btn-default:hover {
    background-color: var(--color-primary-3);
}

.section-subtitle {
    color: var(--color-primary-6);
    font-size: 1.563rem;
}

.section-title {
    color: var(--color-primary-6);
    font-size: 2.563rem;
}



